<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asiainfo.mapper.OrderDetailMapper">
	<select id="queryByOrderAndItem" parameterType="int" resultType="OrderDetail">
		select * from orderdetail where orders_id=#{param1} and items_id=#{param2} and items_num = #{param3} and id = #{param4}   <!-- 当入参是简单类型的时候，参数名称可以任意，但这只针对一个参数的情况，如果存在两个以上的同类型参数（例如本sql），参数名称必须是param1、param2、param3、param4…… -->
		<!-- mapper的statement中只能有一个parameterType,即入参只能有一种类型，如果入参有两个以上的类型时，可以使用pojo，但一个参数类型可以对应多个实际的参数 -->
	</select>
	
	<select id="queryByMap" parameterType="hashmap" resultType="OrderDetail">
		select * from orderdetail where orders_id=#{orders_id_zzw1} and items_id=#{items_id_abc} and items_num = #{items_num_123} and id = #{id}   <!-- 当参数类型是map时，sql的参数名称要与map的key对应 -->
	</select>
	
</mapper>